$accentColor = #e89d33

.code-group-nav 
  margin: 0;
  padding:0
  .code-group-nav-tab 
    color: #ffffff
    &.active
      color: #e89d33
.custom-block 
  .custom-block-title 
    margin: 10px 0 !important